WebEncuesta/Web References/LoginWS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_activos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_activosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_usr_activosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_faltas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="f1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_faltasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_usr_faltasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_retardos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="f1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_retardosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_usr_retardosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_salidas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="f1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_salidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_usr_salidasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_basico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_basicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_usr_basicoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_usr_empleados">
        <s:complexType />
      </s:element>
      <s:element name="get_usr_empleadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_usr_empleadosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="get_usr_activosSoapIn">
    <wsdl:part name="parameters" element="tns:get_usr_activos" />
  </wsdl:message>
  <wsdl:message name="get_usr_activosSoapOut">
    <wsdl:part name="parameters" element="tns:get_usr_activosResponse" />
  </wsdl:message>
  <wsdl:message name="get_usr_faltasSoapIn">
    <wsdl:part name="parameters" element="tns:get_usr_faltas" />
  </wsdl:message>
  <wsdl:message name="get_usr_faltasSoapOut">
    <wsdl:part name="parameters" element="tns:get_usr_faltasResponse" />
  </wsdl:message>
  <wsdl:message name="get_usr_retardosSoapIn">
    <wsdl:part name="parameters" element="tns:get_usr_retardos" />
  </wsdl:message>
  <wsdl:message name="get_usr_retardosSoapOut">
    <wsdl:part name="parameters" element="tns:get_usr_retardosResponse" />
  </wsdl:message>
  <wsdl:message name="get_usr_salidasSoapIn">
    <wsdl:part name="parameters" element="tns:get_usr_salidas" />
  </wsdl:message>
  <wsdl:message name="get_usr_salidasSoapOut">
    <wsdl:part name="parameters" element="tns:get_usr_salidasResponse" />
  </wsdl:message>
  <wsdl:message name="get_usr_basicoSoapIn">
    <wsdl:part name="parameters" element="tns:get_usr_basico" />
  </wsdl:message>
  <wsdl:message name="get_usr_basicoSoapOut">
    <wsdl:part name="parameters" element="tns:get_usr_basicoResponse" />
  </wsdl:message>
  <wsdl:message name="get_usr_empleadosSoapIn">
    <wsdl:part name="parameters" element="tns:get_usr_empleados" />
  </wsdl:message>
  <wsdl:message name="get_usr_empleadosSoapOut">
    <wsdl:part name="parameters" element="tns:get_usr_empleadosResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_usr_activos">
      <wsdl:input message="tns:get_usr_activosSoapIn" />
      <wsdl:output message="tns:get_usr_activosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_usr_faltas">
      <wsdl:input message="tns:get_usr_faltasSoapIn" />
      <wsdl:output message="tns:get_usr_faltasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_usr_retardos">
      <wsdl:input message="tns:get_usr_retardosSoapIn" />
      <wsdl:output message="tns:get_usr_retardosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_usr_salidas">
      <wsdl:input message="tns:get_usr_salidasSoapIn" />
      <wsdl:output message="tns:get_usr_salidasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_usr_basico">
      <wsdl:input message="tns:get_usr_basicoSoapIn" />
      <wsdl:output message="tns:get_usr_basicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_usr_empleados">
      <wsdl:input message="tns:get_usr_empleadosSoapIn" />
      <wsdl:output message="tns:get_usr_empleadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_activos">
      <soap:operation soapAction="http://tempuri.org/get_usr_activos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_faltas">
      <soap:operation soapAction="http://tempuri.org/get_usr_faltas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_retardos">
      <soap:operation soapAction="http://tempuri.org/get_usr_retardos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_salidas">
      <soap:operation soapAction="http://tempuri.org/get_usr_salidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_basico">
      <soap:operation soapAction="http://tempuri.org/get_usr_basico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_empleados">
      <soap:operation soapAction="http://tempuri.org/get_usr_empleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_activos">
      <soap12:operation soapAction="http://tempuri.org/get_usr_activos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_faltas">
      <soap12:operation soapAction="http://tempuri.org/get_usr_faltas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_retardos">
      <soap12:operation soapAction="http://tempuri.org/get_usr_retardos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_salidas">
      <soap12:operation soapAction="http://tempuri.org/get_usr_salidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_basico">
      <soap12:operation soapAction="http://tempuri.org/get_usr_basico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_usr_empleados">
      <soap12:operation soapAction="http://tempuri.org/get_usr_empleados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.100.84/WSINTRA/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.100.84/WSINTRA/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>